<style>
input.span-18 {
	border-left-width: 1px;
    border-right-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
	width: 698px;
}
.blank_row
{
    height: 20px
    background-color: #FFFFFF;
}	
.last {
    margin-right: 0;
    padding-right: 0;
}
.disputeInquiryBody h2.arrowHeader span {
    float: right;
}
.disputeInquiryBody ul {
    margin: 10px 0 20px;
    padding-bottom: 10px;
}
.disputeInquiryBody ul li {
    clear: both;
    margin-top: 10px;
    min-height: 58px;
}
.disputeInquiryBody label {
    display: block;
}
.disputeInquiryBody label span {
    color: #B41601;
}
.disputeInquiryBody input[type="text"], .disputeInquiryBody select {
    color: #646464;
    padding-left: 2px;
    width: 420px;
}
.disputeInquiryBody select {
    color: #646464;
    float: none;
    margin-bottom: 0;
    width: 230px;
}
.radioPanel label {
    display: inline;
}
.radioPanel input[type="text"] {
    display: block;
    margin: 4px 0;
}
.radioPanel input[type="radio"] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    margin-bottom: 0;
}
.disputeInquiryBody input, .disputeInquiryBody select {
    padding: 0;
}
.disputeInquiryBody select {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #E5E5E5;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
}
.disputeInquiryBody .buttonWrapper > input {
    padding: 5px 15px;
}
h2.arrowHeader {
    border-bottom: 1px solid #84C5D4;
    color: #0A8CAA;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;
}
.priceSmall {
    color: #B41601;
    font-size: 12px;
}
.instructiontxt {
    color: #828282;
    font-size: 11px;
    margin-bottom: 10px;
}

body {
    line-height: 1.5;
}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #222222;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 75%;
}
ul li {
    color: #646464;
    font-size: 12px;
    list-style-type: none;
}
td {
	color: #646464;
}

table.readDashboard
{
	background:#EEE;
	color:#333;
	font-size:12px;
	font: 'Arial';
	text-align:center;
}

table.readDashboard th
{
	background:#CCC;
	font-weight:bold;
}

<html>
<head>
	<title>Dispute Inquiry Email</title>
</head>
<body id="containerBody">
	<table style="background-color:#ffffff" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
		<tr>
			<td align="center">
				<table bgcolor="#ffffff" width="1200" border="0" cellspacing="0" cellpadding="0" align="center">
					<tr bgcolor="#ffffff">
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td height="11">
							<div style="width:578;height:11" />
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
					<tr bgcolor="#ffffff">
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td>
							<a href="#logo">
								<img src="logo.gif" width="333" height="84" border="0" />
							</a>
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>

					<tr class="blank_row">	
						<td colspan="3"> &nbsp</td>
					</tr>
						
					<br>
					<tr>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td>
							<h2 class="arrowHeader">
							#if(${ctx.disputeOrder})
								DISPUTE ORDER INQUIRY FORM SUBMISSION
							#else
								DISPUTE ITEM INQUIRY FORM SUBMISSION
							#end
							</h2>
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
					<tr>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td height="11">
							<div style="width:578;height:11" />
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
					<tr>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
							<div class="span-18 last" id="addindirectcustomer" style="display:block">
								<div class="disputeInquiryBody ">
									<table width="100%" cellspacing="0" cellpadding="0" style="border: 1px solid grey;">
										<tr>
											<td align="left">Dear CSR,</td>
										</tr>
										<tr>
											<td></td>
										</tr>
										#if(${ctx.disputeOrder})
											<tr>
												<span>A dispute on #if(${ctx.disputeOrder}) order #else item #end with below details submitted on the inquiry form:</span>
											</tr>
											<tr>
												<td></td>
											</tr>
											<tr>
												<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
													Account Number
												</td>
												<td>
													#if(${ctx.disputeOrderData.accountNumber})
														${ctx.disputeOrderData.accountNumber}
													#end
												</td>
											</tr>
											<tr>	
												<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
													Phone Number
												</td>
												<td>
													#if(${ctx.disputeOrderData.phoneNumber})
														${ctx.disputeOrderData.phoneNumber}
													#end
												</td>
											</tr>
											<tr>	
												<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
													Purchase Order Number
												</td>
												<td>
													#if(${ctx.disputeOrderData.purchaseOrderNumber})
														${ctx.disputeOrderData.purchaseOrderNumber}
													#end
												</td>
											</tr>
											#if(!${ctx.disputeOrderData.invoiceNumber.isEmpty()})
												<tr>
													<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
														Invoice Number
													</td>
													<td>
														#foreach($invoiceNumber in $ctx.disputeOrderData.invoiceNumber)
															<p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>${invoiceNumber}</b></font></p>
															</br>
														#end
													</td>
												</tr>
											#end
											</br></br>
											
											#if(!${ctx.disputeOrderData.productsAndQuantity.isEmpty()})
												<tr>
													<td></td>
												</tr>
												<tr>
													<h5><span>Over-Shipped (received un-ordered products)</span></h5>
												</tr>
												<tr>
													<td><b>Product code</b></td>
													<td><b>Lot Numbers</b></td>
													<td><b>Quantity Received</b></td>
												</tr>
												#set ($lotMap = $ctx.disputeOrderData.productsAndlotInfo)
												#set ($map = $ctx.disputeOrderData.productsAndQuantity)
												#foreach ($mapEntry in $map.entrySet())
													<tr>
														<td align="top">
															$mapEntry.key
														</td>
														<td align="top">
															$lotMap.getValue($mapEntry.key)	
														</td>
														<td align="top">
															$mapEntry.value
														</td>
													</tr>
												#end
												<tr>
													<td></td>
												</tr>											
												<tr>	
													<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
														<b><span>Would like to keep the shipped products?</span></b>
													</td>
													<td>
														#if(${ctx.disputeOrderData.keepProductsShipped})
															Yes
														#else
															No
														#end
													</td>
												</tr>
												<tr>
													<td></td>
												</tr>
												#if(${ctx.disputeOrderData.keepProductsShipped})
													<tr>	
														<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
															<b>New PO Number></b>
														</td>
														<td>
															${ctx.disputeOrderData.newPurchaseOrderNumber}
														</td>
													</tr>
												#end
												<tr>
													<td></td>
												</tr>
												
												#if(!${ctx.disputeOrderData.disputedFees.isEmpty()})
													<tr>
														<h5><span>Dispute a Fee (Options Selected)</span></h5>
													</tr>
													<tr>
														#foreach($disputeFee in $ctx.disputeOrderData.disputedFees)
														<td>
															<font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif">${disputeFee}</font>
														</td>
														#end
													</tr>
												#end
												<tr>
													<td></td>
												</tr>
												
												#if(!${ctx.disputeOrderData.correctPurchaseOrderNumber})
													<tr>
														<h5><span>Incorrect PO Number</span></h5>
													</tr>
													<tr>
														<td><b>Correct PO Number</b></td>
														<td>${ctx.disputeOrderData.correctPurchaseOrderNumber}</td>
													</tr>
												#end
												<tr>
													<td></td>
												</tr>
												
												#if(!${ctx.disputeOrderData.correctAddress})
													<th>
														<h5><span>Incorrect Address</span></h5>
													</th>
													<tr>
														<td><b>Country</b></td>
														<td>${ctx.disputeOrderData.correctAddress.country.name}</td>
													</tr>
													<tr>
														<td><b>Address Line 1</b></td>
														<td>${ctx.disputeOrderData.correctAddress.line1}</td>
													</tr>
													<tr>
														<td><b>Address Line 2</b></td>
														<td>${ctx.disputeOrderData.correctAddress.line2}</td>
													</tr>
													<tr>
														<td><b>City</b></td>
														<td>${ctx.disputeOrderData.correctAddress.town}</td>
													</tr>
													<tr>
														<td><b>State</b></td>
														<td>${ctx.disputeOrderData.correctAddress.region.isocode}</td>
													</tr>
													<tr>
														<td><b>Zip Code</b></td>
														<td>${ctx.disputeOrderData.correctAddress.postalCode}</td>
													</tr>
												#end
												<tr>
													<td></td>
												</tr>
											#end
										#else
											<tr>
												<td></td>
											</tr>
											<tr>
												<span>A dispute on #if(${ctx.disputeOrder}) order #else item #end with below details submitted on the inquiry form:</span>
											</tr>
											<tr>
												<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
													Account Number
												</td>
												<td>
													#if(${ctx.disputeItemData.accountNumber})
														${ctx.disputeItemData.accountNumber}
													#end
												</td>
											</tr>
											<tr>	
												<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
													Phone Number
												</td>
												<td>
													#if(${ctx.disputeItemData.phoneNumber})
														${ctx.disputeItemData.phoneNumber}
													#end
												</td>
											</tr>
											<tr>	
												<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
													Purchase Order Number
												</td>
												<td>
													#if(${ctx.disputeItemData.purchaseOrderNumber})
														${ctx.disputeItemData.purchaseOrderNumber}
													#end
												</td>
											</tr>
											#if(!${ctx.disputeOrderData.invoiceNumber.isEmpty()})
												<tr>
													<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
														Invoice Number
													</td>
													<td>
														#foreach($invoiceNumber in $ctx.disputeOrderData.invoiceNumber)
															<p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>${invoiceNumber}</b></font></p>
															</br>
														#end
													</td>
												</tr>
											#end
											<tr>
												<td></td>
											</tr>
											
											#if(${ctx.disputeItemData.totalDisputedAmount})
												<tr>
													<h5><span>Pricing Dispute</span></h5>
												</tr>
												<tr>	
													<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
														Total Disputed
													</td>
													<td>
														${ctx.disputeItemData.totalDisputedAmount}
													</td>
												</tr>
												<tr>	
													<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
														Expected Price
													</td>
													<td>
														${ctx.disputeItemData.expectedPrice}
													</td>
												</tr>
												<tr>	
													<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
														Contract Number
													</td>
													<td>
														${ctx.disputeItemData.contractNumber}
													</td>
												</tr>
											#end	
											<tr>
												<td></td>
											</tr>
											
											#if(${ctx.disputeItemData.shortShippedProductCode})
												<tr>
													<h5><span>Short-Shipped</span></h5>
												</tr>
												<tr>	
													<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
														Product Code
													</td>
													<td>
														${ctx.disputeItemData.shortShippedProductCode}
													</td>
												</tr>
												<tr>	
													<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
														Quantity Ordered
													</td>
													<td>
														${ctx.disputeItemData.shortShippedOrderedQuantity}
													</td>
												</tr>
												<tr>	
													<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
														Quantity Received
													</td>
													<td>
														${ctx.disputeItemData.shortShippedReceivedQuantity}
													</td>
												</tr>
												<tr>	
													<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
														Replacement Needed?
													</td>
													<td>
														#if(${ctx.disputeItemData.replacementRequired})
															Yes
														#else
															No
														#end
													</td>
												</tr>
													#if(${ctx.disputeItemData.replacementRequired})
														<tr>	
															<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
																Replacement PO Number
															</td>
															<td>
																${ctx.disputeItemData.purchaseOrderNumber}
															</td>
														</tr>
													#end
												#end	
											<tr>
												<td></td>
											</tr>
											
											#if(${ctx.disputeItemData.overShippedProductCode})
												<tr>
													<h5><span>Over-Shipped</span></h5>
												</tr>
												<tr>	
													<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
														Product Code
													</td>
													<td>
														${ctx.disputeItemData.overShippedProductCode}
													</td>
												</tr>
												<tr>	
													<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
														Quantity Ordered
													</td>
													<td>
														${ctx.disputeItemData.overShippedOrderedQuantity}
													</td>
												</tr>
												<tr>	
													<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
														Quantity Received
													</td>
													<td>
														${ctx.disputeItemData.overShippedReceivedQuantity}
													</td>
												</tr>
												
													<tr>	
														<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
															Lot Number(s)
														</td>
														<td>
															#foreach( $lotNumber in $ctx.disputeItemData.lotNumbers)
																<p><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>${lotNumber}</b></font></p>
															#end
														</td>
													</tr>
											
												<tr>	
													<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
														Would like to keep the shipped products?
													</td>
													<td>
														#if(${ctx.disputeItemData.keepProductsShipped})Yes
														#else No
														#end
													</td>
												</tr>
												#if(${ctx.disputeItemData.keepProductsShipped})
													<tr>	
														<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
															New PO Number
														</td>
														<td>
															${ctx.disputeItemData.newPurchaseOrderNumber}
														</td>
													</tr>
												#end
											#end
										#end
									</table>
									<br>
								</div>
							</div>
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
					<tr>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td height="11">
							<div style="width:578;height:11" />
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
					<tr>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">
							<br />If you are unable to view this email please <a href="javascript:;" style="color:#12C2E9"><font color="#12C2E9">click here</font></a>
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
					<tr>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td height="11">
							<div style="width:578;height:11" />
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
					<tr bgcolor="#fafafa">
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td height="11">
							<div style="width:578;height:11" />
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
					<tr bgcolor="#fafafa">
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">You are about to enter a Private Web Site that is restricted to authorized use by Johnson &amp; Johnson Medical Devices and Diagnostics for Latin America and their authorized agents for business purposes only. The actual or attempted unauthorized
							access, use or modification of the web site and its contents is strictly prohibited by the Company. Unauthorized users and/or unauthorized use are subject to criminal and/or civil penalties in accordance with applicable domestic and foreign laws.
							<br
							/>
							<br />The use of this web site may be monitored and recorded for administrative and security reasons. If such monitoring and/or recording reveals possible evidence of criminal activity, the Company may provide the monitored evidence of such activity
							to law enforcement officials. Access to this application from an untrusted workstation, including, but not limited to, cyber cafes and public kiosks, is prohibited.
							<br />&nbsp;
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
					<tr>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td height="11">
							<div style="width:578;height:11" />
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
					<tr>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">Please read our <a href="#" style="color:#12C2E9"><font color="#12C2E9">Privacy Policy</font></a>. The use of information on this site is under the terms of our <a href="#" style="color:#12C2E9"><font color="#12C2E9">Legal Notice</font></a>
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
					<tr>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">Last Update: November 2013</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
					<tr>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td height="11">
							<div style="width:578;height:11" />
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
					<tr bgcolor="#0A8CAA">
						<td width="11" height="5">
							<div style="width:11;height:5" />
						</td>
						<td height="5">
							<div style="width:578;height:5" />
						</td>
						<td width="11" height="5">
							<div style="width:11;height:5" />
						</td>
					</tr>
					<tr bgcolor="#e5e5e5">
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td height="11">
							<div style="width:578;height:11" />
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
					<tr bgcolor="#e5e5e5">
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td>
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td align="left" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#828282;">This site is published by Johnson and Johnson Medical Devices and Diagnostics - Latin America, L.L.C. which is solely responsible for its contents and is destined for the use of the Johnson &amp; Johnson family of companies employees and customers
										in Latin America.
										<br />
										<br />All Contents &copy;Johnson and Johnson Medical Devices and Diagnostics - Latin America, L.L.C. 2009 - 2013. All Rights Reserved.
										</div>
									</td>
								</tr>
							</table>
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
					<tr bgcolor="#e5e5e5">
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
						<td height="11">
							<div style="width:578;height:11" />
						</td>
						<td width="11" height="11">
							<div style="width:11;height:11" />
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>